@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {

}
.heading1{
    color: #092234;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    margin-top: 10%;
    font-size: larger;
    text-align: center;
    /* align-content: center; */
}

.sub_heading1{
    /* display: block; */
    display: block;
    font-size: larger;
    color: grey;
    text-align: center;
    align-items: center;
    /* padding-left: 39%; */
}

.register-last-h2{
    display: block;
    /* color: #092234; */
    color: #f80;
    /* align-items: center; */
    text-align: center;
    font-display:inherit;
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 16%;
}
.register-last-h2:hover{
    color:#092234;
    cursor:grab;
    counter-increment: inherit;
}
